<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    @{
        var metaDesc = ViewData["MetaDescription"];
        if (metaDesc != null && metaDesc.ToString() != string.Empty)
        {
            <meta name="description" content="@metaDesc">
        }
    }

    <link href="https://unpkg.com/tippy.js@6/themes/light.css" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css" rel="stylesheet" />
    <link href="~/css/accio.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <!-- Begin Header -->
    <header class="w-100 pv2-ns pa2 z-index-2">
        <!-- Begin Search Nav -->
        <div class="mw8 center">
            <div class="cf">
                <div class="fl w-100 w-40-ns">
                    <form id="search" accept-charset="UTF-8" method="get">
                        <input id="searchInput" class="dib w-100" type="text" name="q" autocomplete="on" autocapitalize="none" autocorrect="off" spellcheck="false" maxlength="64" placeholder="Search for a card">
                        <span class="dib clear-search absolute vh"></span>

                        @(await Component.InvokeAsync("Environment"))
                    </form>
                </div>
                <div class="fl w-100 w-60-ns tr-ns tc">
                    <nav class="pv2">
                        <a class="dib-ns db mr3-ns" href="/" title="Home"><i class="fas fa-bolt mr2"></i>Home</a>
                        @*<a class="dib-ns db mr3-ns" href="/Advanced" title="Advanced"><i class="fas fa-hat-wizard mr2"></i>Advanced</a>*@
                        @*<a class="dib-ns db mr3-ns" href="#" title="All Cards"><i class="fas fa-quidditch mr2"></i>Cards</a>*@
                        <a class="dib-ns db mr3-ns" href="https://github.com/perezdev/Accio/wiki/%F0%9F%93%9D-Syntax" target="_blank""><i class="fas fa-code mr2"></i>Syntax</a>
                        <a class="dib-ns db mr3-ns" href="/Sets" title="All Sets"><i class="fas fa-book mr2"></i>Sets</a>
                        <a class="dib-ns db" href="/Random" title="Random Card"><i class="fas fa-magic mr2"></i>Random</a>
                        @*<label class="text-white mr3-ns" style="color: #FFFFFF;">|</label>
                            <a class="dib-ns db" href="#" title="Profile"><i class="fas fa-user-circle"></i></a>*@
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Search Nav -->
    </header>
    <!-- End Header -->
    <!-- Begin Content -->

    @RenderBody()

    <!-- End Content -->

    <div style="flex-grow:1"></div>

    <!-- Begin Footer -->
    <footer class="w-100 pv4 relative">
        @*<div class="w-100 tc">
            <img id="crest" src="~/images/badges/gryffindor.png" class="crest gryffindor">

            <div id="crestsTooltip" class="crest-tooltip tc">
                <img id="crestButtonGryffindor" src="~/images/badges/gryffindor.png" class="gryffindor mt2 crest-in-tooltip">
                <img id="crestButtonHufflepuff" src="~/images/badges/hufflepuff.png" class="hufflepuff crest-in-tooltip">
                <img id="crestButtonRavenclaw" src="~/images/badges/ravenclaw.png" class="ravenclaw crest-in-tooltip">
                <img id="crestButtonSlytherin" src="~/images/badges/slytherin.png" class="slytherin crest-in-tooltip">
            </div>
        </div>*@
        <div class="mw7 center">
            <div class="cf">
                <div class="fl w-100 w-third-ns mb4-ns mb3 ph3 tl-ns tc">
                    <h4>Find Cards</h4>
                    <nav>
                        @*<p><a href="#" title="Advanced">Advanced</a></p>*@
                        @*<p><a href="#" title="All Cards">All Cards</a></p>*@
                        <p><a href="https://github.com/perezdev/Accio/wiki/%F0%9F%93%9D-Syntax" target="_blank" title="Syntax Guide">Syntax Guide</a></p>
                        <p><a href="/Sets" title="All Sets"></i>All Sets</a></p>
                        <p><a href="/Random" title="Random Card">Random Card</a></p>
                    </nav>
                </div>
                <div class="fl w-100 w-third-ns mb4-ns mb3 ph3 tl-ns tc">
                    <h4>Accio</h4>
                    <nav>
                        @*<p><a href="#" title="Deckbuilder">Deckbuilder</a></p>*@
                        @*<p><a href="#" title="FAQ">FAQ</a></p>*@
                        <p><a href="https://github.com/perezdev/Accio/wiki" target="_blank" title="Wiki">Wiki</a></p>
                        <p><a href="https://cutt.ly/AccioContact" target="_blank" title="Contact">Contact</a></p>
                    </nav>
                </div>
                <div class="fl w-100 w-third-ns mb4-ns mb3 ph3 tl-ns tc">
                    <h4>Social</h4>
                    <nav>
                        <p><a href="https://github.com/perezdev/Accio" target="_blank" title="GitHub">GitHub</a></p>
                        <p><a href="https://twitter.com/harrypottertcg?lang=en" target="_blank" title="Twitter">Twitter</a></p>
                        <p><a href="https://discord.gg/EKJSXBC" target="_blank" title="Discord">Discord</a></p>
                    </nav>
                </div>
            </div>
            <div class="w-100 ph3 tc">
                <p class="copyright">The information presented on this site about Harry Potter, including card images, characters, names and related indicia are &trade; and &copy; Warner Bros. Entertainment Inc. This website is not produced by, endorsed by, supported by, or affiliated with Warner Bros. Entertainment Inc. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/fd25a25548.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.21/sorting/natural.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.21/sorting/absolute.js"></script>
    <script src="~/js/utlity.js" asp-append-version="true"></script>
    <script src="~/js/accio.bundle.min.js" asp-append-version="true"></script>

    @*
        Old dependencies that we may need in the future.
        <script src="https://unpkg.com/@@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js" asp-append-version="true"></script>
    *@
</body>
</html>
