@page
@model Accio.Web.Pages.Random.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Random Card</title>
</head>
<body>
</body>
</html>
