@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* Colors */
    --blackBat: #1D1D1D;
    --blueRaven: #004E80;
    --grayGargoyle: #333333;
    --greenSnake: #067552;
    --parchmentPaper: #E8E8E4;
    --redLion: #9D1F1B;
    --whiteWizard: #FFFFFF;
    --yellowBadger: #ECB939;
    --brownPaw: #836444;
    --purpleFirecracker: #6B63B5;
    --lightPurpleFirecracker: #F0F0F8;
    --mainColor: var(--purpleFirecracker);
    --mainLightColor: var(--lightPurpleFirecracker);
    /* Fonts */
    --sansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --serif: "Literata", Georgia, serif;
}

body {
    background-color: var(--parchmentPaper);
    color: var(--grayGargoyle);
    font-family: var(--serif);
    font-size: 0.875rem;
    line-height: 1.715;
}

button {
    background-color: transparent;
    border: .0625rem solid var(--grayGargoyle);
    border-radius: 0.125rem;
    color: var(--grayGargoyle);
    cursor: pointer;
    font-family: var(--sansSerif);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.715;
    padding: 0.19rem 0.5rem;
    transition: background-color 0.125s ease-in;
}

    button:active,
    button:focus,
    button:hover {
        background-color: var(--whiteWizard);
        border-color: var(--blackBat);
        color: var(--blackBat);
    }

.z-index-0 {
    z-index: 0 !important;
}

.z-index-1 {
    z-index: 1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

p {
    margin: 0 0 1rem 0;
}

/*  Homepage
    --------
    These styles are mobile-first with the a media query defining larger rules.
*/

#main {
    background-color: var(--blackBat);
    background-image: radial-gradient(circle at 50% 0%, rgba(0, 0, 0, 0), #000000 70%), linear-gradient(180deg, #6B63B5 0%, #6B63B5 100%), url("../images/hogwarts.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    background-blend-mode: multiply, overlay, normal;
    padding-top: 12vh;
    text-align: center;
}

#homeSearch {
    color: var(--parchmentPaper);
}

#accioLogo {
    margin-bottom: 1.5rem;
}

    #accioLogo svg {
        fill: var(--purpleFirecracker);
        max-height: 4rem;
    }

.hero {
    color: var(--whiteWizard);
    font-size: 2rem;
    line-height: 1.25;
    margin: 0 0 .5rem 0;
}

/* Homepage Search */
#homeSearch #search input {
    background-color: rgba(107, 99, 181, 0.25);
    background-image: url('../images/logos/logo_white.svg');
    background-origin: content-box, padding-box;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 2rem 2rem;
    border: none;
    border-radius: 8px;
    color: var(--whiteWizard);
    font-family: var(--sansSerif);
    font-size: 1.25rem;
    line-height: 1.6;
    margin: 1.5rem 0 0 0;
    padding: 1rem;
    text-indent: 3rem;
    transition: background-color 0.125s ease-in;
}

    #homeSearch #search input:focus {
        background-color: rgba(107, 99, 181, 0.5);
        outline: none;
    }

#spotlight {
    top: 2em;
    z-index: 0;
}

    #spotlight div .card-image:nth-child(1) {
        left: 1em;
        z-index: 1;
    }

    #spotlight div .card-image:nth-child(2) {
        top: 1em;
        z-index: 2;
    }

    #spotlight div .card-image:nth-child(3) {
        right: 1em;
        z-index: 1;
    }


@media (min-width: 30em) {
    #main {
        background-position: top center;
        background-size: 100% auto;
        min-height: 100vh;
        padding-top: 20vh;
    }

    #spotlight {
        top: 4em;
    }

        #spotlight div .card-image:nth-child(1) {
            left: 1em;
        }

        #spotlight div .card-image:nth-child(2) {
            top: 1em;
        }

        #spotlight div .card-image:nth-child(3) {
            right: 1em;
        }
}

/* Header, Navigation, Footer */
header {
    background-color: var(--mainColor);
    position: fixed;
    top: 0;
    transition: background-color 0.125s ease-in;
}

    header #search input {
        background-color: rgba(0, 0, 0, 0.25);
        background-image: url('../images/logos/logo_white.svg');
        background-origin: content-box, padding-box;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 1.5rem 1.5rem;
        border: none;
        border-radius: 4px;
        color: var(--whiteWizard);
        font-family: var(--sansSerif);
        font-size: 0.875rem;
        line-height: 1.715;
        margin: 0;
        padding: 0.5rem 0.5rem 0.5rem 0.75rem;
        text-indent: 2rem; /* Push the text box cursor to the right so it doesn't overlap with the logo background image */
    }

        header #search input:focus {
            background-color: rgba(0, 0, 0, 0.35);
            outline: none;
            transition: background-color 0.125s ease-in;
        }

        header #search input::placeholder {
            color: rgba(255, 255, 255, 0.50);
            transition: color 0.125s ease-in;
        }

        header #search input:active::placeholder,
        header #search input:focus::placeholder {
            color: rgba(255, 255, 255, 1);
        }

    header ~ div {
        color: var(--whiteWizard);
        background-color: var(--grayGargoyle);
        position: fixed;
        top: 56px;
    }

.clear-search {
    background-image: url(../images/clear.svg);
    cursor: pointer;
    height: 0.875rem;
    margin-left: -1.75rem;
    margin-top: 0.8125rem;
    opacity: 0.75;
    width: 0.875rem;
}

    .clear-search:hover {
        opacity: 1.0;
    }

#searchInput::-webkit-search-cancel-button {
    position: relative;
    right: 20px;
    height: 20px;
    width: 20px;
    color: rgb(117, 117, 117);
    background-color: rgb(117, 117, 117);
}

.no-cards-container {
}

.no-cards-items {
    margin-top: 50%;
}

.no-cards-image {
    color: var(--grayGargoyle);
    filter: invert(66%) sepia(0%) saturate(631%) hue-rotate(144deg) brightness(86%) contrast(87%);
}

.no-cards-h3 {
    margin-bottom: 0;
}

form {
    /* The margin classes are specific to Chrome. For some crazy reason, it auto inserts these random ass margins. */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

nav a {
    color: var(--whiteWizard);
    opacity: 0.8;
    text-decoration: none;
    transition: opacity 0.125s ease-in;
}

    nav a:active,
    nav a:focus {
        opacity: 1;
        text-decoration: underline;
    }

    nav a:hover {
        opacity: 1;
    }

footer {
    color: var(--whiteWizard);
    background-blend-mode: multiply;
    background-color: var(--mainColor);
    background-image: url(../images/feathers.png);
    background-repeat: all;
    border-top: 0.25rem inset rgba(29, 29, 29, 0.30);
    font-size: 0.875rem;
    line-height: 1.715;
    transition: background-color 0.125s ease-in;
    z-index: 2;
}

    footer h4 {
        border-bottom: 0.125rem solid rgba(29, 29, 29, 0.30);
        font-size: 0.875rem;
        line-height: 1.715;
        margin: 0 0 0.5rem 0;
        padding: 0 0 0.375rem 0;
    }

    footer p {
        font-family: var(--sansSerif);
        line-height: 2;
        margin: 0;
    }

        footer p a {
            margin: 0 0 0.25rem 0;
        }

    footer .copyright {
        font-size: 0.75rem;
        line-height: 1.34;
        opacity: 0.65;
    }

.card-image {
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

    .card-image img {
        /*box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);*/
        cursor: pointer;
        display: block;
        height: auto;
        min-width: 100%;
    }

.hover-card {
    height: 325px;
    position: absolute;
    width: 239px;
    z-index: 9999;
}

.hover-card-loading {
    background-image: url("../images/cardBack.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

.rotate {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -moz-transform: rotate(90deg); /* Firefox */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -o-transform: rotate(90deg); /* Opera */
}

/* This is to rotate the card when you hover over it in the list view
   It's really just for pushing the card to the right
*/
.hover-card-rotate {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -moz-transform: rotate(90deg); /* Firefox */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -o-transform: rotate(90deg); /* Opera */
    margin-left: 50px;
    margin-top: -40px;
}

.card-info {
    background-color: var(--whiteWizard);
    border-radius: 0.25rem;
    border-top: 0.25rem solid var(--grayGargoyle);
}

.card-name {
    border-bottom: 0.0625rem solid rgba(29, 29, 29, 0.08);
    font-size: 1rem;
    line-height: 1.5rem;
}

.card-types {
    font-weight: 700;
}

#rulings {
    background-color: var(--whiteWizard);
    border-top: .0625rem inset rgba(29, 29, 29, 0.30);
}

    #rulings h3 {
        color: var(--blackBat);
        font-size: 0.875rem;
        line-height: 1.715;
    }

    #rulings .ruling {
        font-family: var(--sansSerif);
    }

/* Hogwarts Houses */
.crest {
    position: relative;
    top: -25px;
    cursor: pointer;
}

.crest-tooltip {
    display: none;
}

.crest-in-tooltip {
    cursor: pointer;
    z-index: 9999 !important;
}

.tippy-box {
    background-color: var(--mainColor);
}

    .tippy-box[data-placement^=top] > .tippy-arrow:before {
        border-top-color: var(--mainColor);
    }

header.gryffindor,
footer.gryffindor {
    background-color: var(--redLion) !important;
}

button.gryffindor:active,
button.gryffindor:focus,
button.gryffindor:hover {
    border-color: var(--redLion) !important;
}

    button.gryffindor:active svg,
    button.gryffindor:focus svg,
    button.gryffindor:hover svg {
        color: var(--redLion) !important;
    }

header.hufflepuff,
footer.hufflepuff {
    background-color: var(--yellowBadger) !important;
}

button.hufflepuff:active,
button.hufflepuff:focus,
button.hufflepuff:hover {
    border-color: var(--yellowBadger) !important;
}

    button.hufflepuff:active svg,
    button.hufflepuff:focus svg,
    button.hufflepuff:hover svg {
        color: var(--yellowBadger) !important;
    }

header.hufflepuff nav a,
footer.hufflepuff nav a,
footer.hufflepuff h4,
footer.hufflepuff .copyright {
    color: var(--grayGargoyle) !important;
}

header.ravenclaw,
footer.ravenclaw {
    background-color: var(--blueRaven) !important;
}

button.ravenclaw:active,
button.ravenclaw:focus,
button.ravenclaw:hover {
    border-color: var(--blueRaven) !important;
}

    button.ravenclaw:active svg,
    button.ravenclaw:focus svg,
    button.ravenclaw:hover svg {
        color: var(--blueRaven) !important;
    }

header.slytherin,
footer.slytherin {
    background-color: var(--greenSnake) !important;
}

button.slytherin:active,
button.slytherin:focus,
button.slytherin:hover {
    border-color: var(--greenSnake) !important;
}

    button.slytherin:active svg,
    button.slytherin:focus svg,
    button.slytherin:hover svg {
        color: var(--greenSnake) !important;
    }

/* Search sub-menu */

select {
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.05);
    background-image: url("../images/chevron_select.svg");
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 0.5rem 0.875rem;
    border: solid 1px rgba(232, 232, 228, 0.75);
    border-radius: 4px;
    color: var(--parchmentPaper);
    font-family: var(--sansSerif);
    font-size: 0.875rem;
    line-height: 1.71;
    padding: 0.188rem 2rem 0.25rem 0.75rem;
}

    select option {
        background: var(--whiteWizard);
        color: var(--grayGargoyle);
        font-family: var(--sansSerif);
    }

        select option:hover,
        select option:focus,
        select option:active {
            background: linear-gradient(#000000, #000000);
            background-color: #000000 !important; /* for IE */
            color: #ffed00 !important;
        }

        select option:checked {
            background: linear-gradient(#d6d6d6, #d6d6d6);
            background-color: #d6d6d6 !important; /* for IE */
            color: #000000 !important;
        }

.sub-menu-label {
    font-family: var(--sansSerif);
}

.set-header-title-icon {
    width: 1.25rem;
    height: 1rem;
    filter: brightness(0) invert(1);
}

.set-header-title-container {
}

.set-header-title-h1 {
    font-size: 0.875rem;
    font-weight: bold;
    margin: 0 0 0 0.5rem;
}

.set-header-title-data {
    color: rgba(255, 255, 255, 0.8);
}

/* Card content area */
.main-container {
    position: relative;
}

/* Container used as parent to card container */
.content-container {
    display: flex;
    flex-direction: column;
    margin-top: 124px;
    min-height: 60vh; /* Default height for the card area so it isn't smushed when there are no cards */
    overflow: visible;
}

.card-orientation-vertical {
    height: 350px !important;
    width: 250px !important;
}

.card-orientation-horizontal {
    height: 350px !important;
    transform: rotate(90deg);
    width: 250px !important;
}

.card-image {
    /* I'm considering using the card back as a place holder while the cards load */
    /*background-image: url("../images/cardBack.png");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;*/
}

/* Card list table */

table {
    font-size: 0.875rem;
    line-height: 1.71;
    width: 100% !important;
}

    table.dataTable thead th {
        font-size: 0.875rem;
        line-height: 1.71;
        padding: 0.5rem;
    }

    table tbody tr {
        cursor: pointer;
    }

        table tbody tr:hover {
            background-color: var(--lightPurpleFirecracker) !important;
            cursor: pointer;
        }

    table.dataTable tbody td {
        padding: 0.5rem;
    }

    /* Datatables.js adds borders to the header and footer of the table, but they aren't part of the design by Tressley */
    table.dataTable thead th {
        border: none;
    }

    table.dataTable.no-footer {
        border-bottom: none;
    }

    table.dataTable thead .sorting_asc {
        background-image: url("../images/chevron_asc.svg");
        color: var(--purpleFirecracker);
    }

    table.dataTable thead .sorting_desc {
        background-image: url("../images/chevron_desc.svg");
        color: var(--purpleFirecracker);
    }

    table.dataTable thead .sorting {
        background-image: url('');
    }

/* Alternating row styles for the table. These have to be !important because datatable.js sets their own styles */
tbody tr:nth-child(odd) {
    background-color: var(--whiteWizard) !important;
    color: var(--grayGargoyle) !important;
}

tbody tr:nth-child(even) {
    background-color: #F9F9F8 !important;
    color: var(--grayGargoyle) !important
}

/* Setting columns to center align
    Set, number, cost, rarity
*/
td:nth-child(1),
td:nth-child(2),
td:nth-child(4),
td:nth-child(6) {
    text-align: center;
    vertical-align: middle;
}

/* Class for lesson image that is set in accio.js */
.card-table-cell-lesson-image {
    height: 1.25rem;
    margin-left: 0.25rem;
    vertical-align: middle;
    width: 1.25rem;
}

.card-table-cell-icon-image {
    height: 1.25rem;
    margin-left: 0.25rem;
    vertical-align: middle;
    width: 1.25rem;
}

.card-table-cell-lesson-label {
    margin-top: 0.25rem;
    vertical-align: middle;
}

.card-table-cell-rarity-image {
    padding-left: 0.25rem;
}

.set-name-date-separator {
    opacity: 0.15;
    color: var(--parchmentPaper);
}

.set-date {
}

/* Card Modal */

/* Card Page - Card Content */
.single-no-card-container {
    min-height: 75vh;
    padding-top: 265px !important;
}

.single-card-main-container {
    margin-top: 90px;
    min-height: 63vh;
}

.card-content-container {
    overflow: auto;
}

.single-card-segment {
    background-color: var(--whiteWizard);
}

.single-card-artist-anchor {
    text-decoration: none;
    color: var(--blueRaven);
}

    .single-card-artist-anchor:hover {
        text-decoration: underline;
    }


.segment-header-border-default {
    border-top: 4px solid var(--mainColor);
}

.segment-header-border-comc {
    border-top: 4px solid var(--brownPaw);
}

.segment-header-border-charms {
    border-top: 4px solid var(--blueRaven);
}

.segment-header-border-potions {
    border-top: 4px solid var(--greenSnake);
}

.segment-header-border-quidditch {
    border-top: 4px solid var(--yellowBadger);
}

.segment-header-border-transfig {
    border-top: 4px solid var(--redLion);
}

.segment-divider {
    border: 1px solid var(--parchmentPaper);
    margin: 0.5rem 0 0 0;
}
/* Card Page - Card Info */
.card-row-item-content {
    color: var(--grayGargoyle);
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-row-item-content-right {
    margin-left: 1rem;
    margin-right: 1.25rem;
}

.card-row-item-content-flavor {
    margin-top: 1rem;
    color: var(--blackBat);
    font-size: 0.75rem;
    font-style: italic;
}

.card-type {
    color: var(--grayGargoyle);
    margin-left: 1rem;
    margin-right: 0.35rem;
}

.card-printings-text {
    font-size: 0.75rem;
    font-weight: 700;
}

.lesson-color-comc {
    color: var(--brownPaw);
}

.lesson-color-charms {
    color: var(--blueRaven);
}

.lesson-color-potions {
    color: var(--greenSnake);
}

.lesson-color-quidditch {
    color: var(--yellowBadger);
}

.lesson-color-transfig {
    color: var(--redLion);
}

.lesson-image {
    height: 1rem;
    width: 1rem;
}

.printings-unselected {
    cursor: pointer;
}

.set-info-separator {
    color: var(--parchmentPaper);
}

.set-info-item {
    float: left;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.set-info-icon {
    height: 1.125rem;
    margin-top: 0.25rem;
    width: 1.125rem;
}

.set-info {
    display: inline-block !important;
}

.rule-label {
    font-weight: 700;
}

.rule-card-name {
    color: var(--mainColor);
}

.rule-date {
    font-style: italic;
    opacity: 0.5;
}

.rule-anchor {
    text-decoration: none;
    color: var(--blueRaven);
}

    .rule-anchor:hover {
        text-decoration: underline;
    }

.sub-type-item {
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    opacity: 0.75;
    color: var(--grayGargoyle);
}

/* Sets */
.sets-content-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    min-height: 68vh; /* Default height for the area so it isn't smushed when there are no cards */
    overflow: visible;
}

.sets-set-table-set-icon {
    height: 1.125rem;
    margin-right: 0.5rem;
    width: 1.125rem;
}

.printings-enabled,
.set-language-enabled {
    background-color: var(--mainColor);
    border-radius: 2px;
    color: var(--whiteWizard);
    font-size: 0.75rem;
    line-height: 1.67;
    margin: 0 0.5rem 0 0;
    padding: 0.125rem 0.25rem;
}

.printings-disabled,
.set-language-disabled {
    background-color: var(--whiteWizard);
    border: 1px solid var(--mainColor);
    border-radius: 2px;
    color: var(--mainColor);
    font-size: 0.75rem;
    line-height: 1.67;
    margin: 0 0.5rem 0 0;
    padding: 0.094rem 0.25rem;
}

/* Utility */

.vh {
    visibility: hidden;
}

.vv {
    visibility: visible;
}

.ml0i {
    margin-left: 0px !important;
}

.dni {
    display: none !important;
}

.negmt10 {
    margin-top: -10px;
}

.bs1 {
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
}

/* Loading */

#loading {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 60%;
}

@-webkit-keyframes fadeColor {
    0% {
        opacity: 0.48;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.48;
    }
}

@-moz-keyframes fadeColor {
    0% {
        opacity: 0.48;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.48;
    }
}

@-ms-keyframes fadeColor {
    0% {
        opacity: 0.48;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.48;
    }
}

@keyframes fadeColor {
    0% {
        opacity: 0.48;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.48;
    }
}

#Base-Set {
    animation: fadeColor 2.4s infinite;
    height: 4rem;
    margin-left: -1rem;
}

/* Environment Display */

.environment-display {
    margin-top: 4px;
    margin-left: 5px;
    padding: 4px;
    border: 2px solid white;
    font-family: monospace;
    background-color: var(--blueRaven);
    color: white;
}


/* Advanced Page */

.advanced-content-container {
    margin-top: 70px;
    min-height: 80vh; /* Default height for the card area so it isn't smushed when there are no cards */
    overflow: visible;
}

.advanced-row-segment {
    color: #E9E9E9;
    opacity: 0.3;
}
