@model Accio.Business.Models.ConfigurationModels.EnvironmentType

@if (Model == Business.Models.ConfigurationModels.EnvironmentType.Development)
{
    <div class="environment-display dib absolute">
        TEST
    </div>
}